.ImgWrapper {
	background: rgba(0,0,0, .3);
	height: 90%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	/*transform: translate(-20%, 0%);*/
	overflow: hidden;
}


/*Start of Navbar styling*/
.NavbarWrapper {
	position: relative;
	top:700px;
	display: flex;
	z-index: 100;
}
.NavbarWrapper > nav {
	width: 100%;
}


/*End of Navbar styling*/