.HeaderImg {
	background-image: url('../../assets/images/GiftACardHImg.jpg');
	height: 200px;
	background-size: cover;
	background-position: 50% center;
	position: relative;
	top:60px;
	margin-bottom: 100px;
}