.NavItems {
	display: flex;
	padding-left: 0;
	margin-right: 50px;
}

@media (max-width: 838px) {
	.NavItems * {
		font-size: 14px;
		line-height: 60px;
		margin-right: 0px !important;
	}
}


@media (max-width: 770px) {
	.NavItems {
		display: block;
		margin: 0;
	}
	.NavItems a {
		color:#ccc;
		font-size: calc(9px + 2vw);
	}
	.NavItems a:hover  {
		color:white;
	}
}