.Icon {
	border: 2px solid black;
	width: 40px;
	position: fixed;
	top:10px;
	height: 40px;
	right: 10px;
	transition: .5s;
	transform: rotate(45deg);
	z-index: 100;
}

.Toggler {
	width: 20px;
	transform: rotate(-45deg);
	height: 2px;
	background: #000;
	position: absolute;
	top: 48%;
	left: 23%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	transition: .5s;
}

.Toggler:before,
.Toggler:after {
	content: '';
	position: absolute;
	width: 25px; 
	left: -10%; 
	height: 2px;
	background: #000;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	transition: .5s;
}
.Toggler:before {
	top: -9px;
}
.Toggler:after {
	top: 9px;
}

.Icon.Active {
	transform: rotate(225deg);
	transition: .5s;
	border-color: white;
}
.Icon.Active .Toggler {
	background: rgba(0,0,0,0);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.Icon.Active .Toggler:before {
	top:0;
	transform: rotate(-45deg);
	background: white;
}

.Icon.Active .Toggler:after {
	top:0;
	transform: rotate(-315deg);
	background: white;
}




