.SlideContainer {
	max-width:90vw;
	height: 600px;
	position: relative;
	margin: auto;
	overflow: hidden;
}

.SlideContainer div > img {
	width: 100%;
	position: 50%;
}

.MySlides {
	display: none;
}


.Prev, .Next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	margin-top: -22px;
	color: rgb(83, 166, 166);
	background-color:rgba(255,255,255, .8); 
	font-size: 25px;
	transition: 0.2s ease;
	border-radius: 50%;
}
.Prev {
	padding: 8px 0px 12px 15px;
}

.Next {
	right: 0;
	padding: 8px 0px 12px 20px;
}

.Prev:hover, .Next:hover {
	border: 1px solid rgb(91, 186, 186);
	color: rgb(91, 186, 186);
}

.TextBox {
	color: #f2f2f2;
	background: rgba(255,255,255, .8);
	font-size: 15px;
	padding: 130px 12px 0 12px;
	position: absolute;
	bottom: 1%;
	right: 75px;
	width: 280px;
	height: 97%;
	text-align: center;
	font-size: 4vw;
}
.TextBox > h3 {
	font-size: 20px;
}
.TextBox > p {
	font-size: 18px;
	padding: 10px 0;
}
.SmallImgOne {
	width: 95%;
	height: 200px;
	background-image: url('../../../assets/images/subimg1-2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.SmallImgTwo {
	width: 95%;
	height: 200px;
	background-image: url('../../../assets/images/subimg2-2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.SmallImgThree {
	width: 95%;
	height: 200px;
	background-image: url('../../../assets/images/subimg3-2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.SmallImgFour {
	width: 95%;
	height: 200px;
	background-image: url('../../../assets/images/subimg4-2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}


.Fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	-o-animation-name: fade;
	-o-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

.Display {
	display: block;
}

@-webkit-keyframes fade {
	from {opacity: .4;}
	to {opacity: 1;}
}
@keyframes fade {
	from {opacity: .4;}
	to {opacity: 1;}
}

@media (max-width: 1114px) {
	.SlideContainer div > img {
		height: 100%;
		max-height: 600px; 
		width: auto;
	}
}

@media (max-width: 880px) {
	.SlideContainer {
		max-height: 800px; 
	}
}

@media (max-width: 575px) {
	.TextBox {
		display: none;
	}
	.SlideContainer {
		height: 400px;
	}
}











