.FullWrapper {
	padding: 40px 0 100px 0;
	display: flex;
	flex-flow: column;
	align-items: center;
}
.FullWrapper * {
	color:#477764;
	font-weight: 200;
}
.FullWrapper img {
	height: 25px;
	width: 25px;
	margin-bottom: 30px;
}
.FullWrapper > small {
	font-size: 12px;
	font-weight: 100px;
}
.FullWrapper > hr {
	width: 80%;
	margin: 20px 0;
	border: .5px solid #e5e5e5;
}
.FullWrapper h4:nth-child(5) {
	margin-top: 10px;
}


.SocialLinks {
	margin: 20px 0;
}


