.SlideContainer {
	max-width:90vw;
	max-height: 38vw;
	position: relative;
	margin: auto;
	overflow-y: hidden;
}

.SlideContainer div > img {
	width: 100%;
}

.MySlides {
	display: none;
}
.HCWH {
	margin: 50px 0 20px;
	font-size: 30px;
	text-align: center;
}

.Prev, .Next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	margin-top: -22px;
	color: rgb(83, 166, 166);
	background-color:rgba(255,255,255, .8); 
	font-size: 25px;
	transition: 0.2s ease;
	border-radius: 50%;
}
.Prev {
	padding: 8px 0px 12px 15px;
}

.Next {
	right: 0;
	padding: 8px 0px 12px 20px;
}

.Prev:hover, .Next:hover {
	border: 1px solid rgb(91, 186, 186);
	color: rgb(91, 186, 186);
}

.TextBox {
	color: #f2f2f2;
	background: rgba(255,255,255, .8);
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	font-size: 4vw;
}
.TextBox > h3 {
	font-size: calc(3px + .6em);
}
.TextBox > p {
	font-size: calc(3px + .4em);
	padding: 10px 0;
}

.Dot {
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 0 8px;
	background-color: #d6d6d6;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.Active, .Dot:hover {
	background-color: rgb(83, 166, 166);
}

.Fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	-o-animation-name: fade;
	-o-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

.Display {
	display: block;
}

@-webkit-keyframes fade {
	from {opacity: .4;}
	to {opacity: 1;}
}
@keyframes fade {
	from {opacity: .4;}
	to {opacity: 1;}
}

@media (max-width: 567px) {
	.Dot {
		display: none;
	}
}
@media (max-width: 480px) {
	.HCWH {
		margin-top: 80px;
	}
	.SlideContainer {
		max-height: 220px; 
	}
}













