.LogoMobile {
	display: none;
}

.Logo {
	width:100%;
	max-width: 200px;
	min-width: 0px;
	height: auto;
	padding: 1em;
	display:block;
	text-align: center;
	position: fixed;
	left: -6px;
	top: -5px;
	transform: scale(.9);
}

.LogoWrap {
	height: 100%;
}

@media (max-width: 768px) {
.LogoWrap {
	width: 200px;
}
}

@media (max-width: 568px) {
	.Logo {
		display: none;
	}
	.LogoMobile {
		display: block;
		max-width: 200px;
		height: 70px;
		padding: 1em;
		display:inline;
		margin-top: -5px;
	}
}