.Button {
	height: 100%;
	width: 100%;
	outline: none;
	border-radius: 4px;
	font-weight: bold;
	font-family: arial;
	font-size: 14px;
	background: rgb(83, 166, 166);
	color: white;
}

.Button:hover {
	background: rgb(91, 186, 186);
	cursor: pointer;
}