.FullWrapper {
	width: 800px;
	margin: 0 auto;
	height: 600px;
}
.FullWrapper section:first-child p {
	line-height: 1.5;
}
.FullWrapper section > h1 {
	font-size: 28px;
	margin-bottom: 10px;
}
.FullWrapper section:not(.SuggestionWrapper) > p {
	font-size: 16px;
	margin-bottom: 20px;
}

/*the number 1*/
.FullWrapper form > h1 {
	font-size: 130px;
}
/**/

/*input section*/
.AmountWrapper {
	position: relative;
	bottom: 135px;
	margin-top: 20px;
	left: 65px;
}
.AmountWrapper > p { 
	font-size: 25px;
	position: relative;
	bottom: 15px;
	}
.AmountInput {
	display: flex;
	margin: 10px 0px;
}
.AmountInput input {
	border: .5px solid #ccc;
	border-radius: 4px;
	height: 40px;
	width: 80px;
	padding: 0px 10px;
	font-size: 15px;
	margin: 0px 10px 20px 5px;	
}
.FullWrapper span {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.Selector {
	height: 40px;
	width: 200px;
	margin-top: 8px;
	font-size: 17px;
	border: .5px solid #ccc;
	background-color: #fff;
}
/*input style end*/


.SuggestionWrapper {
	background-color: #FAFAFA;
	padding: 20px;
	height: 260px;
	width: 475px;
	position: relative;
	bottom: 300px;
	left: 290px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: column;
	-ms-align-items: baseline;
	justify-content: space-between;
}
.SuggestionWrapper p { 
	font-size: 15px;
	line-height: 1.8;
}
.Par::after {
	content: " Learn More.";
	color:rgb(83, 166, 166);
}
.SuggestionWrapper h3 {
	font-size: 15px;	 
}

@media (max-width: 840px) and (min-width:769px) {
	.FullWrapper { 
		width:98%;
	}
	.SuggestionWrapper {
		width: calc(100vw - 330px )
}
}

@media (max-width: 768px) {
	.SuggestionWrapper { 
		bottom:120px;
		left: 65px;
		width: calc(85vw - 70px )
	}
	.FullWrapper {
		width: 96%;
		margin: 0 auto;
		height: 800px;
}
}

@media (max-width: 568px) {
	.FullWrapper {
		height: auto;
	}
	.FullWrapper form > h1 {
		font-size: 24px;
	}
	.AmountWrapper {
		margin-top: 120px;
		left: 15px;
	}
	.AmountWrapper > p { 
		font-size: 20px;
		bottom: 13px;
		left:10px;
	}
	.SuggestionWrapper { 
		bottom:120px;
		left: 10px;
		width: 95%;
		height: auto;
	}
}








