.FullWrapper {
	width:100%;
	height: 1000px;
	background-color: #f7f4ed;
	margin-top: 635px;
	padding: 60px 0;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.Section {
	display: flex;
	margin-top: 40px;
}
.Section > div h2 {
	font-weight: 100;
	margin-bottom: 20px;
	color:#477764;
	border-bottom: 2px solid #477764;
}
.Section > div p {
	width: 350px;
	line-height: 1.4;
	font-size: 17px;
	color:#4c4c4c;
	font-style: italic;
}

.Section > img {
	height: 260px;
	width: 260px;
	margin: 0 70px 0px 100px;
	padding-bottom: 50px;
}
/*style for panel titles*/
.FullWrapper div:nth-child(1) > div > h2 {
	width:70px;
}
.FullWrapper div:nth-child(2) > div > h2 {
	width:255px;
}
.FullWrapper div:nth-child(3) > div > h2 {
	width:194px;
}
/*style for panel end*/

.FullWrapper div:nth-child(1) > img {
	margin-top: -50px;
}
.FullWrapper div:nth-child(2) > img {
	clip: rect(0px,60px,200px,0px);
}




